*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.row {
    max-width: 1140px;
    margin:0 auto;
}

html {
    color: #000;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*----- Nav bar ----- */
.nav-bar {
    height: 70px;
    background-color: black;
    width: 100%;
}

.nav-logo {
    margin-left: 20px;
    padding-top: 10px;
    display: block;
    position:absolute;
}

.main-nav {
    float:right;
    list-style:none;
    margin-top: 20px;
    margin-right: 10px;
    
}

.main-nav li {
    color: grey;
    display:inline;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 90%;

}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: grey;
    text-decoration: none;
      
}

.main-nav li a:hover,
.main-nav li a:active {
    color: white;

}

/*----- BANNER ----- */

.banner{
    background-image: url("images/banner\ image.jpg") ;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-header {
    text-align: center;
    width: 500px;
    font-size: 100%;
    position: relative;
    top: 150px;
    left: 50px

}

.banner-header h2 {
    margin-top: 20px;
}

.banner-header img {
    box-shadow: 5px 5px 10px black;
}

.btn:link,
.btn:visited
 {
    display: inline-block; 
    text-decoration: none;
    background-color: black;
    border: 1px solid black;
    color:#fff;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    font-size: 80%;

}

.btn:hover,
.btn:active 
{
    background-color: white;
    color: black;
}  

/*----- COURSES ----- */

.jar {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke;
    
}

.courses {
    width: 300px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    border: 1px solid white;
    background-color: white;
    font-size: 90%;
    position: relative;
    top: -100px;
    transform: scale(1.05);
    transition: transform 0.5s, opacity 0.5s;
    
}

.courses:hover {
    transform:scale(0.90);

}

.courses-link:link,
.courses-link:visited {
    margin-top: 10px;
    text-decoration: none;
    color: black 
}



footer {
    text-align: center;
    background-color: grey;
    color: white;
    padding:5px;
}